<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @address.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @address.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Homephone:</b>
  <%= @address.homephone %>
</p>

<p>
  <b>Contact1:</b>
  <%= @address.contact1_id %>
</p>

<p>
  <b>Contact2:</b>
  <%= @address.contact2_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
